.lists-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.unanswered-list,
.answered-list {
  width: 48%;
}

.question-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #777;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px #ccc;
  }

  &-btn {
    margin-top: 10px;
    background-color: #444;
    color: #fff;
    margin-right: 20px;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #222;
    }
  }

  b {
    color: #fff;
    font-size: 16px;
  }
}

.answered-list {
  margin-left: 20px;
}

.question-card-open-wrapper {
  width: 100%
}
