.navigation {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  &-padding {
    padding: 90px 0 0 0;
  }

  &-item {
    background-color: #999;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    width: auto;
    margin-right: 20px;

    &:hover {
      background-color: #777;
    }
  }
}
