<mat-nav-list class="navigation">
  <mat-list-item class="navigation-item" routerLink="/create-question" routerLinkActive="active">
    Create Question
  </mat-list-item>
  <mat-list-item class="navigation-item" routerLink="/question-management" routerLinkActive="active">
    Question Management
  </mat-list-item>
  <mat-list-item class="navigation-item" routerLink="/question-list" routerLinkActive="active">
    Question List
  </mat-list-item>
</mat-nav-list>
<div class="navigation-padding"></div>

<router-outlet></router-outlet>
